.fournisseur-header{
  display: grid;
  grid-template-columns: 10% 20% 25% 45%;
}

.fournisseur-row{
  display: grid;
  grid-template-columns: 10% 20% 25% 40% 5%;
}

.input-groupe {
  display: flex;
  gap: 20px;
}

.input-groupe > div:nth-child(1) {
  flex: 3;
}

.input-groupe > div:nth-child(2) {
  flex: 4;
}

