  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* ajouter fournisseur */
  .input-groupe {
    display: flex;
    gap: 20px;
  }
  .input-groupe > div:nth-child(1) {
    flex: 3;
  }
  
  .input-groupe > div:nth-child(2) {
    flex: 4;
  }
  .modifier-input-groupe {
    display: flex;
    gap: 20px;
  }
  
  .modifier-input-groupe > div:nth-child(1) {
    flex: 1;
  }
  
  .modifier-input-groupe > div:nth-child(2) {
    flex: 3;
  }
  
  .modifier-input-groupe > div:nth-child(3) {
    flex: 4;
  }
  /* table  */
  
  .tableRowfournisseur{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    margin-bottom: 25px;
  }
  .tableHeader >p,.tableRowfournisseur >p {
    flex:1;
  }
  
  .tableHeader > p:nth-child(1),.tableRowfournisseur > p:nth-child(1) {
    flex-grow: 2;
  }
  
  .tableHeader > p:nth-child(2),.tableRowfournisseur > p:nth-child(2) {
    flex-grow: 2;
  }
  
  .tableHeader > p:nth-child(3),.tableRowfournisseur > p:nth-child(3) {
    flex-grow: 3;
  }
  
  .tableHeader > p:nth-child(4),.tableRowfournisseur > p:nth-child(4) {
    flex-grow: 6;
  }
  
  