:root {
  /*  Colors  */
  --Dark-color-500: #131217;
  --Dark-color-400: #211F27;
  --Dark-color-300: #2B2A32;
  --Dark-color-200: #3D3B45;
  --primary-color: #7048EC;
  --secondary-color: #D9D7DB;
  --tritary-color: #B2B1B4;
  --quaternary-color: #ac91ff;

  /*  Fonts  */
  --poppins: Poppins, sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--Dark-color-400);
}

.App > div:nth-child(2) {
  flex: 1;
}

/* Typography */
@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, label, span {
  font-family: var(--poppins);
}

h1, h2, h3 {
  font-weight: 600;
}

h4, h5, h6 {
  font-weight: 500;
}

p, label, span {
  font-weight: 400;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
  color: var(--secondary-color);
}

label {
  font-size: 15px;
}

span {
  font-size: 14px;
}

/* Utility */

.d-none {
  display: none;
}

/* Globals */
.button {
  color: #FFF;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/* button */
.button:hover {
  background-color: var(--quaternary-color);
  cursor: pointer;
}

.button:active {
  transform: translateY(2px);
}

.secondary-btn {
  background: var(--secondary-color);
  color: var(--Dark-color-400);
}

/* input */
.input label {
  margin-bottom: 10px;
  display: block;
  color: #FFF;
}

.input input {
  width: 100%;
  padding: 10px;
  background-color: var(--Dark-color-500);
  color: #FFF;
  border: 1px solid var(--tritary-color);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.input input::placeholder {
  color: var(--tritary-color);
}

/* search input */
.searchInput {
	margin-top: 35px;
	display: flex;
}

.searchInput img {
	width: 20px;
	aspect-ratio: 1;
}

.searchInput input {
	width: 270px;
	padding: 10px;
	color: #FFF;
	caret-color: #FFF;
	background-color: transparent;
	border: none;
	font-size: 16px;
}

.searchInput input::placeholder {
	color: var(--secondary-color);
}
