:root {
  /*  Colors  */
  --Dark-color-500: #131217;
  --Dark-color-400: #211F27;
  --Dark-color-300: #2B2A32;
  --Dark-color-200: #3D3B45;
  --primary-color: #7048EC;
  --secondary-color: #D9D7DB;
  --tritary-color: #B2B1B4;
  --quaternary-color: #ac91ff;

  /*  Fonts  */
  --poppins: Poppins, sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--Dark-color-400);
}

/* Typography */
@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, label, span {
  font-family: var(--poppins);
}

h1, h2, h3 {
  font-weight: 600;
}

h4, h5, h6 {
  font-weight: 500;
}

p, label, span {
  font-weight: 400;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

label {
  font-size: 15px;
}

span {
  font-size: 14px;
}

/* Utility */

.d-none {
  display: none;
}

/* Globals */

/* Page classes */
.page-container {
  padding: 30px;
  width: 100%;
}

.page-header{
  display: grid;
  grid-template-areas: "title header-right-side"
                       "add-btn header-right-side"
                       "search-bar header-right-side";
  grid-template-columns: 230px calc(100% - 230px);
}

.page-container h1 {
  grid-area: title;
  color: #fff;
}

.page-container button {
  grid-area: add-btn;
  margin-top: 20px;
}

.search-bar{
  grid-area: search-bar;
}

.header-right-side{
  grid-area: header-right-side;
  display: flex;
}

.header-right-side span{
  display: block;
  width: 2px;
  height: 80%;
  background-color: white;
  border-radius: 5px;
  margin: 15px 40px;
}

.header-right-side > img{
  width: 45px;
  height: 45px;
  margin-top: 20px;
}

.header-right-side > img:hover{
  background-color: var(--Dark-color-200);
  cursor: pointer;
}

.filter-btn-group{
  display: flex;
  height: fit-content;
  gap: 30px;
}

/* scrollbar */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: var(--Dark-color-200) #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--Dark-color-200);
  }

/* button */
.button {
  color: #FFF;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.button:hover {
  background-color: var(--quaternary-color);
  cursor: pointer;
}

.button:active {
  transform: translateY(2px);
}

.secondary-btn {
  background: var(--secondary-color);
  color: var(--Dark-color-400);
}

.filter-btn{
  background-color: var(--Dark-color-300);
  display: flex;
  gap: 15px;
}

.filter-btn:hover{
  background-color: var(--Dark-color-200);
}

/* input */
.input label {
  margin-bottom: 10px;
  display: block;
  color: #FFF;
}

.input input {
  width: 100%;
  padding: 10px;
  background-color: var(--Dark-color-500);
  color: #FFF;
  border: 1px solid var(--tritary-color);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.input input::placeholder {
  color: var(--tritary-color);
}

/* search bar */
.search-bar{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.search-bar input{
  background-color: #ffffff00;
  color: var(--secondary-color);
  border: none;
  border-bottom: 2px var(--Dark-color-200) solid;
  font-size: 1.2rem;
  padding: 5px 10px;
}

.search-bar input:focus{
  outline: none;
}

.search-bar img{
  color: var(--Dark-color-200);
  width: 35px;
  height: 25px;
}

/* table */
.table-container {
  margin: 30px 0;
}

.table-header,
.table-row {
  height: 50px;
  width: 100%;
  color: #fff;
  align-items: center;
  padding: 0 10px;
}

.table-header {
  background-color: var(--Dark-color-200);
  border-radius: 10px;
}

.table-row{ 
  overflow: hidden;
  overflow-y: scroll;
}

.row-item{
  /* cause ellipsis works only on widths with "pixels" not "%" */
  width: inherit;
}

.table-row p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}