@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap');

/* GLOBALS */

:root{

     /*  Colors  */
    --black-coffe: #3C3744;
    --darker-black-coffe: #312d38;
    --ivory: #fbfff1;
    --duke-blue: #090C9B;
    --iris: #3D52D5;
    --light-blue: #B4C5E4;

    /*  Fonts  */
    --poppins: 'Poppins', sans-serif;
}   

*{
    margin: 0;
    padding: 0;
    font-family: var(--poppins);
    color: var(--ivory);
}

body{
    background-color: var(--darker-black-coffe);
}

a{
    text-decoration: none;    
    margin: 0;
}

ul, ul:visited, ul:hover{
    list-style-type: none;
    text-decoration: none;    
}

li{
    padding: 0;
}